<ion-view view-title="Dashboard" class="dash">
  <ion-content>    
         <div class="padding text-center">
      <h1>
        <i class="energized ion-map"></i>
      </h1>
      <h2 class="energized">CityApp</h2>
      <p class="energized"></p>
    </div>

    <div ng-repeat="item in mainmenu" class="row text-center">
      <div class="card col home" ng-repeat="(key, value) in item.submenu" ng-if="!isAuthenticated || value.login" >
        <a class="item item-text-wrap" ui-sref="{{value.state}}">
          <h1><i class="icon {{value.icon}}"></i></h1>
          <h2>{{value.title}}</h2>
        </a>
      </div>
    </div>
   <img src="" id="tempImage" alt="" class="hidden">
  </ion-content>
</ion-view>
