<ion-view view-title="Forgot Password">
	<ion-content class="padding">
    <div class="padding text-center">
      <h2 class="energized">TeqniHome</h2>
      <p class="energized"></p>
    </div>

	<form name="forgotForm" novalidate>
        <div class="list">

            <label class="item item-input item-floating-label">
                <span class="input-label">Email</span>
                <input type="email" name="email" id="email" maxlength="255" ng-model="user.email" required placeholder="john@demo.com">
            </label>
             <p ng-show="forgotForm.email.$required" class="help-block">Email is required.</p>
             <p ng-show="forgotForm.email.$dirty && forgotForm.email.$error.email" class="help-block">Enter a valid email.</p>
             <p ng-show="forgotForm.email.$error.maxlength" class="help-block">Email max length 250 characters</p>
             <p ng-show="forgotForm.email.$error.custom" class="help-block">{{forgotForm.email.$error.custom}}</p>


          <button class="button button-block button-calm ink" ng-click="forgotPassword()" ng-disabled="forgotForm.$invalid">
                Retrieve Password
          </button>
        </div>
        </form>
         <div class="">
         Already registered <a ui-sref="app.login">click here to login</a>
        </div>
	</ion-content>
</ion-view>
