<ion-view view-title="Dashboard">
  <ion-content>
    <div class="padding text-center">

      <h2 class="energized">TeqniHome</h2>
      <p class="energized"></p>
    </div>
    <div>
      Hi, {{username}}
    </div>
  </ion-content>
</ion-view>
