<ion-view view-title="Login">
	<ion-content class="padding">
    <div class="padding text-center">
      <h2 class="energized">TeqniHome</h2>
     </div>

    <form name="loginForm" novalidate>
        <div class="list">
            <label class="item item-input item-floating-label">
                <span class="input-label">Email</span>
                <input type="email" name="mail" id="mail" ng-model="user.mail" ng-maxlength="255" required placeholder="Email ID">
                <p ng-show="loginForm.mail.$required" class="help-block">Email is required.</p>
                <p ng-show="loginForm.mail.$error.email" class="help-block">Enter a valid email.</p>
                <p ng-show="loginForm.mail.$error.maxlength" class="help-block">Email max length 250 characters</p>

            </label>
            <label class="item item-input item-floating-label">
                <span class="input-label">Password</span>
                <input type="password" name="password" id="password" required ng-maxlength="255" ng-model="user.password" placeholder="Password">
                <p ng-show="loginForm.password.$dirty && loginForm.password.$error.required" class="help-block">Password is required.</p>
                <p ng-show="loginForm.password.$error.maxlength" class="help-block">Password max length 255 characters</p>

            </label>
          <button class="button button-block  button-assertive ink" ng-click="login()" data-ink-color="#e85430" data-ink-opacity="1" ng-disabled="loginForm.$invalid"> Login </button>
        </div>
     </form>
		 <div class="row responsive-sm">
			 <div class="col">
				 Not registered <a ui-sref="app.register">click here</a>
			 </div>
			 <div class="col">
				 <a ui-sref="app.forgot">Forgot Password</a>
			 </div>
		 </div>
	</ion-content>
</ion-view>
