<ion-side-menus enable-menu-with-back-views="false">
  <ion-side-menu-content>
    <ion-nav-bar class="bar-dark">
      <ion-nav-back-button>
      </ion-nav-back-button>

      <ion-nav-buttons side="left">
        <button class="button button-icon button-clear ion-android-menu" menu-toggle="left">
        </button>
      </ion-nav-buttons>
    </ion-nav-bar>
    <ion-nav-view name="menuContent"></ion-nav-view>
  </ion-side-menu-content>

  <ion-side-menu side="left">
    <ion-header-bar class="dark-bg">
        <div class="usermenu" ng-if="!datalogin.id" ng-click="showLogin();">
            <h2>TeqniHome</h2>
        </div>

    </ion-header-bar>
    <ion-content>
      <ion-list class="menulist">
         <ion-item menu-close ui-sref="app.home" class="ink item-icon-left">
            <span class="icon ion-navicon-round"></span>
            Dashboard
          </ion-item>
           <ion-item menu-close ng-if="isAuthenticated" ui-sref="app.logout" class="ink item-icon-left">
            <span class="icon ion-log-out"></span>
            Logout
          </ion-item>
      </ion-list>
    </ion-content>
  </ion-side-menu>
</ion-side-menus>
