<ion-view view-title="Registration">
  <ion-content class="padding">
    <div class="padding text-center">
      <h2 class="energized">TeqniHome</h2>
      <p class="energized"></p>
    </div>
    <script src="https://www.google.com/recaptcha/api.js" async defer></script>

    <form name="registerForm" novalidate>
      <div class="list">
        <label class="item item-input item-floating-label">
                <span class="input-label">First Name</span>
                <input type="text" name="fname" id="fname" maxlength="500" ng-model="user.fname" required placeholder="First Name">
            </label>
        <p ng-show="registerForm.fname.$required" class="help-block">First name is required.</p>

        <label class="item item-input item-floating-label">
                <span class="input-label">Last name</span>
                <input type="text" name="lname" id="lname" maxlength="500" ng-model="user.lname" required placeholder="Last name">
            </label>
        <p ng-show="registerForm.lname.$required" class="help-block">Last name is required.</p>

        <label class="item item-input item-floating-label">
                <span class="input-label">Email</span>
                <input type="email" name="email" id="email" maxlength="255" ng-model="user.email" required placeholder="john@demo.com">
            </label>
        <p ng-show="registerForm.email.$required" class="help-block">Email is required.</p>
        <p ng-show="registerForm.email.$dirty && registerForm.email.$error.email" class="help-block">Enter a valid email.</p>
        <p ng-show="registerForm.email.$error.maxlength" class="help-block">Email max length 250 characters</p>
        <p ng-show="registerForm.email.$error.custom" class="help-block">{{registerForm.email.$error.custom}}</p>

        <label class="item item-input item-floating-label">
                <span class="input-label">Phone Number</span>
                <input type="number" name="phone_number" id="phone_number" ng-model="user.phone_number" ng-maxlength="15" required placeholder="Phone Number">
            </label>

        <p ng-show="registerForm.phone_number.$required" class="help-block">Phone Number is required</p>
        <p ng-show="registerForm.phone_number.$dirty && (registerForm.phone_number.$error.integer || registerForm.phone_number.$invalid || registerForm.phone_number.$error.maxlength)" class="help-block">Enter a valid phone number</p>

        <label class="item item-input item-floating-label">
                <span class="input-label">Password</span>
                <input type="password" name="password" id="password" ng-maxlength="255" ng-model="user.password" placeholder="Password" required>
                <p ng-show="registerForm.password.$dirty  &&  registerForm.password.$error.required" class="help-block">Password is required.</p>
                <p ng-show="registerForm.password.$error.maxlength" class="help-block">Password max length 255 characters</p>
            </label>

    </form>
    <script>
		window.location.protocol = 'http:';
    </script>

    <!-- <div class="recap" vc-recaptcha key="'6LenjjMUAAAAAPzvWdVh17H_Uj8Oh_0y4tCPPe8d'"  on-expire="cbExpiration"></div> -->


    <button class="button button-block button-calm ink" ng-click="register()" data-ink-color="#9DEAFF" data-ink-opacity="1" ng-disabled="registerForm.$invalid">
                Register
          </button>
    </div>
    <div class="">
      Already registered <a ui-sref="app.login">click here to login</a>
    </div>
  </ion-content>
</ion-view>
