<ion-view view-title="CityApp" padding="true" class="start">
    <ion-content>
        <div class="padding text-center">
            <h1><i class="energized ion-map"></i>
            </h1>
            <h2 class="energized">CityApp</h2>
            <p class="energized"></p>
        </div>
        <div class="text-center" style="margin-top:100px">
            <div class="home-btns padding">
                <button class="button button-outline icon-right ion-camera button-positive" ng-click="capture()">Take Picture</button>
            </div>
            <div class="home-btns padding">
                <input type="file" name="thefile" accept=".pdf,.csv,.doc,.docx,application/pdf', 'text/csv', 'application/msword', 'application/vnd.openxmlformats-officedocument.wordprocessingml.document" class="inputfile assertive" id="thefile" onchange="angular.element(this).scope().setFile(this)" placeholder="Image">
                <label for="file" class=""> Select File <i class="icon-right ion-document"></i></label>
            </div>
        </div>
    </ion-content>
</ion-view>
