/* MENU */

.menu .bar.bar-header {
  background-color: $positive;
  height: 170px !important;
}

.menu .usermenu h2 {
  bottom: 0;
  font-size: 40px;
  color: white;
  margin: 45px 0px;
}

.menu .usermenu {
  width: 100%;
  text-align: center;
}

.menu .scroll-content {
  top: 170px !important;
}

.center {
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  -moz-justify-content: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  -moz-align-items: center;
  align-items: center;
  display: flex;
  width: 100%;
  height: 100%;
  text-align: center;
}

.inputfile {
  opacity: 0;
  overflow: hidden;
  position: absolute;
  width: 90%;
  font-size: 1.25rem;
  text-overflow: ellipsis;
  white-space: nowrap;
  cursor: pointer;
  display: inline-block;
  padding: 0.625rem 1.25rem;
  max-width: 14rem;
  margin: 0px -2rem;
}

.inputfile+label {
  font-size: 1.25em;
  font-weight: 700;
  color: white;
  background-color: #ef473a;
  display: inline-block;
}

.inputfile:focus+label, .inputfile+label:hover {
  background-color: red;
}

.item p.subr {
  font-size: 13px;
  color: red;
}

.js .inputfile {
  width: 0.1px;
  height: 0.1px;
  opacity: 0;
  overflow: hidden;
  position: absolute;
  z-index: -1;
}

.inputfile+label {
  max-width: 90%;
  font-size: 1.25rem;
  /* 20px */
  font-weight: 700;
  text-overflow: ellipsis;
  white-space: nowrap;
  cursor: pointer;
  display: inline-block;
  overflow: hidden;
  padding: 0.625rem 1.25rem;
  /* 10px 20px */
}

.no-js .inputfile+label {
  display: none;
}

.inputfile:focus+label, .inputfile.has-focus+label {
  outline: 1px dotted #000;
  outline: -webkit-focus-ring-color auto 5px;
}

.inputfile+label * {
  /* pointer-events: none; */
  /* in case of FastClick lib use */
}

.inputfile+label svg {
  width: 1em;
  height: 1em;
  vertical-align: middle;
  fill: currentColor;
  margin-top: -0.25em;
  /* 4px */
  margin-right: 0.25em;
  /* 4px */
}

.help-block{
  color : #d21010 !important;
}
.recap{
  margin-top: 10px;
}
